html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', Sans-Serif; 
  background-color: #eaeaea;
  font-size: 12px;
  margin : 0 ;    
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
